/* ===== Colors Varriables ===== */
$primary: #de2b24;
$primary-light: #f35e59;
$secondery: #1287bf;
$yellow: #f8cd53;
$heading: #424242;
$paragraph: #5c5c5c;
$ternery: #f3f3f3;
$pure: #ffffff;
$dark: #2a2a2a;
$dark-light: #515151;

/* ===== Global Classes ===== */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
a:hover{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
/* ===== Header Section ===== */

    /* ===== Top Header Section ===== */
    header .top-header{
        background: $ternery;
    }
    header .top-header .mail{
        border-left: 1px solid #000;
    }
    header .top-header .mail a.fab{
        display: inline-block;
        font-size: 32px;
        margin-left: 15px;
        transition: 0.3s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
    }
    header .top-header .mail a.fab:hover{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
    /* ===== Navigation ===== */
    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 80%;
        background: $dark-light;
        z-index: 9999;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -ms-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
}
    .mobile-menu .times {
        position: absolute;
        top: 30px;
        left: 30px;
        color: $primary;
        font-size: 28px;
    }
    .mobile-menu ul {
        float: right;
        margin-top: 15%;
        margin-right: 45%;
    }
    .mobile-menu ul li {
        margin-bottom: 10px;
    }
    .mobile-menu ul li a{
        font-size: 18px;
        color: $pure;
    }
    .mobile-menu ul li a:hover{
        color: $yellow;
    }
    .open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    nav{
        position: relative;
    }
    nav .hamberger{
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 26px;
        color: $primary;
        display: none;
    }
    nav .menu ul li{
        display: inline-block;
        margin-right: 10px;
    }
    nav .menu ul li::after{
        display: inline-block;
        content: '';
        height: 5px;
        width: 5px;
        background: $heading;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: 15px;
    }
    nav .menu ul li:last-child::after{
        display: none;
    }
    nav .menu ul li a{
        color: $dark;
        font-size: 15px;
        font-weight: 600;
    }
    nav .menu ul li a:hover{
        color: $primary;
    }
    .nav-btn button{
        background: $primary;
        color: $pure;
        font-size: 15px;
        padding: 10px 25px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .nav-btn button:hover{
        background: $primary-light;
        color: $pure;
    }
    .sticky{
        position: fixed;
        top: 0;
        width: 100%;
        background: $pure;
        z-index: 999;
        border-bottom: 1px solid $primary;
    }
    /* ===== Main Header Section ===== */
    .main-header{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/bg-1.jpg');
        background-position: center bottom;
        background-size: cover;
        background-attachment: fixed;
        padding: 230px 0;
    }
    .main-header h2{
        font-size: 48px;
        color: $pure;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0;
    }
    .main-header p{
        font-size: 30px;
        font-weight: 300;
        color: $pure;
        margin-bottom: 25px;
    }
    .main-btn{
        padding: 10px 30px;
        background: $yellow;
        color: $pure;
        font-size: 23px;
    }
    .main-btn:hover{
        color: $pure;
    }
/* ===== About Section ===== */ 
.about{
    padding: 90px 0;
}
.about .heading h3{
    font-size: 36px;
    color: $heading;
    margin-bottom: 0;
}
.about .heading p{
    font-size: 18px;
    color: $heading;
    margin-bottom: 0;
}
.about .heading p::after{
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    background: $heading;
    margin: 10px auto;
}
.about h4{
    font-size: 22px;
    color: $heading;
    margin-top: 25px;
    margin-bottom: 15px;
}
.about .card-text{
    font-size: 15px;
    line-height: 1.5;
    padding: 0 40px;
}
.about .img-like{
    display: inline-block;
    position: relative;
    animation-name: zoom;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes zoom {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50%{
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
}
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
.about .img-book{
    display: inline-block;
    position: relative;
    animation-name: book;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
}
@keyframes book {
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
}
}
.about .img-chat{
    display: inline-block;
    position: relative;
    animation-name: chat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes chat {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    50%{
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
}
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
/* ===== Approch Section ===== */
.approch{
    background: $ternery;
    padding: 80px 0;
}
.approch .heading h3{
    font-size: 36px;
    color: $heading;
    margin-bottom: 0;
}
.approch .heading p{
    font-size: 18px;
    color: $heading;
    margin-bottom: 0;
}
.approch .heading p::after{
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    background: $heading;
    margin: 10px auto;
}
.approch .img-card{
    position: relative;
}
.approch .img-card .step-1{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    background: $primary;
    border: 2px solid $pure;
    padding: 10px 30px;
    padding-bottom: 20px;
    z-index: 11;
}
.approch .img-card .step-1 h2{
    font-size: 50px;
    margin-bottom: 0;
}
.approch .img-card .step-1 p{
    font-size: 16px;
    margin-bottom: 0;
    line-height: 0;
}
.approch .box-1{
    background: $pure;
    height: 238px;
    padding: 70px 85px;
    z-index: 1;
}
.approch .box-1 h4{
    font-size: 18px;
    color: $heading;
}
.approch .box-1 p{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: $heading;
}
.approch .img-card-2{
    width: 340px;
}
/* ===== Work section Section ===== */
.work{
    background: $primary;
    padding: 90px 0;
}
.work .heading h3{
    font-size: 36px;
    color: $pure;
    margin-bottom: 0;
}
.work .heading p{
    font-size: 18px;
    color: $pure;
    margin-bottom: 0;
}
.work .heading p::after{
    content: '';
    display: block;
    height: 4px;
    width: 50px;
    background: $pure;
    margin: 10px auto;
}
.work img{
    position: relative;
}
.work .layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $primary-light;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.work .box:hover .layer{
    height: 100%;
}
.work .layer span{
    font-size: 32px;
    color: $pure;
}
.work .layer h3{
    font-size: 26px;
    color: $pure;
    margin-bottom: 0;
}
.work .layer p{
    font-size: 16px;
    color: $pure;
}
/* ===== Analysis Section ===== */
.analysis{
    padding: 90px 0;
    background: $secondery;
}
.analysis .heading h3{
    font-size: 36px;
    margin-bottom: 0;
}
.analysis .heading p{
    font-size: 18px;
    margin-bottom: 0;
}
.analysis .down-icon button{
    font-size: 40px;
    color: $pure;
}
.info{
    height: 0;
    overflow: hidden;
}
.open{
    height: 100%;
}
.analysis .wrapper{
    position: relative;
    width: 700px;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    background: $pure;
    clip-path: polygon(0 7%, 45% 7%, 50% 0, 55% 7%, 100% 7%, 100% 100%, 0 100%);
    padding-top: 80px;
}
.analysis .wrapper p{
    font-size: 15px;
    margin-bottom: 40px;
}
.analysis .wrapper input{
    display: block;
    margin: 0 auto;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    padding: 15px 15px;
    margin-bottom: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.analysis .wrapper button{
    background: $primary;
    color: $pure;
    font-size: 15px;
    padding: 10px 30px;
    margin-top: 20px;
}
.analysis .wrapper button:hover{
    background: $primary-light;
}
/* ===== Footer Section ===== */
footer{
    padding: 85px 0;
    background: $dark;
}
footer .footer-icon ul li{
    display: inline-block;
    margin: 5px;
    padding: 8px 12px;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5),    -1px -1px 4px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
footer .footer-icon ul li a{
    color: $pure;
    font-size: 18px;
}
footer .footer-icon ul li:hover{
    box-shadow: 1px 1px 4px $primary,
    -1px -1px 4px $primary;
}
footer p{
    font-size: 14px;
    color: $pure;
    font-weight: 300;
}
footer form input{
    display: block;
    margin: 0 auto;
    width: 50%;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: $pure;
    background: $dark-light;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
footer form button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    color: $pure;
    background: $dark;
    padding: 10px 30px;
    font-size: 15px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer form button:hover {
    border: 1px solid $primary;
}
/* ===== Copyright Ssection ===== */
.copy{
    padding: 25px 0;
    background: $dark-light;
}
.copy p{
    color: $pure;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.copy a{
    color: $pure;
}
.copy a:hover{
    color: $yellow;
}

/* ===== Responsive Layout ===-== */
@media (max-width: 1024px){
    nav .menu ul li a {
        font-size: 13px;
    }
    .nav-btn button {
        font-size: 13px;
    }
    .work .box img{
        width: 200px;
    }
}
@media (max-width: 992px) {
    .top-header .phone a,
    .top-header .phone span,
    .top-header .mail a,
    .top-header .mail span {
        font-size: 13px;
    }
    header .top-header .mail a.fab {
        font-size: 24px;
    }
    header .menu{
        display: none;
    }
    header .nav-btn{
        display: none;
    }
    nav .hamberger{
        display: block;
    }
    .main-header h2 {
        font-size: 38px;
    }
    .main-header p {
        font-size: 24px;
    }
    .main-btn {
        font-size: 18px;
    }
    .about .heading h3 {
        font-size: 30px;
    }
    .about .heading p {
        font-size: 15px;
    }
    .about .img-like img {
        width: 70px;
    }
    .about .img-book img {
        width: 65px;
    }
    .about .img-chat img {
        width: 70px;
    }
    .about h4 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .about .card-text {
        font-size: 13px;
        padding: 0 30px;
    }
    .approch .heading h3 {
        font-size: 30px;
    }
    .approch .heading p {
        font-size: 15px;
    }
    .approch .img-card img{
        width: 240px;
    }
    .approch .box-1 {
        height: 165px;
        padding: 40px 70px;
    }
    .approch .img-card .step-1 h2 {
        font-size: 38px;
    }
    .approch .img-card .step-1 p {
        font-size: 13px;
    }
    .approch .img-card .step-1 {
        right: -40px;
        padding: 10px 25px;
        padding-bottom: 20px;
    }
    .approch .box-1 h4 {
        font-size: 15px;
    }
    .approch .box-1 p {
        font-size: 12px;
    }
    .work .heading h3 {
        font-size: 30px;
    }
    .work .heading p {
        font-size: 15px;
    }
    .analysis .heading h3 {
        font-size: 28px;
    }
    .analysis .heading p {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .main-header {
        padding: 200px 0;
    }
    .main-header h2 {
        font-size: 32px;
    }
    .main-header p {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .main-btn {
        font-size: 15px;
        padding: 8px 20px;
    }
    .about {
        padding: 60px 0;
    }
    .about .img-like img {
        width: 55px;
    }
    .about .img-book img {
        width: 50px;
    }
    .about .img-chat img {
        width: 55px;
    }
    .about h4 {
        font-size: 15px;
    }
    .about .card-text {
        font-size: 12px;
        padding: 0 15px;
    }
    .approch {
        padding: 50px 0;
    }
    .work {
        padding: 60px 0;
    }
    .analysis {
        padding: 60px 0;
    }
    .analysis .wrapper {
        width: 500px;
        clip-path: polygon(0 7%, 45% 7%, 50% 0, 55% 7%, 100% 7%, 100% 100%, 0 100%);
    }
    .analysis .wrapper p {
        font-size: 10px;
    }
    .analysis .wrapper input {
        padding: 10px 15px;
        font-size: 12px;
    }
    .analysis .wrapper button {
        font-size: 12px;
    }
    footer {
        padding: 65px 0;
    }
}
@media (max-width: 576px) {
    nav img.logo{
        width: 150px;
    }
    nav .hamberger{
        top: 20px;
        right: 40px;
    }
    .main-header {
        padding: 150px 0;
    }
    .main-header h2 {
        font-size: 26px;
    }
    .main-header p {
        font-size: 14px;
    }
    .main-btn {
        font-size: 12px;
    }
    .about .heading h3 {
        font-size: 24px;
    }
    .about .heading p {
        font-size: 12px;
    }
    .approch .heading h3 {
        font-size: 24px;
    }
    .approch .heading p {
        font-size: 12px;
    }
    .approch .img-card img {
        width: 180px;
    }
    .approch .box-1 {
        height: 125px;
        padding: 20px 40px;
    }
    .approch .box-1 h4 {
        font-size: 12px;
    }
    .approch .box-1 p {
        font-size: 8px;
        margin-bottom: 0;
    }
    .approch .box-1 {
        height: 125px;
        padding: 35px 40px;
    }
    .approch {
        padding: 30px 0;
    }
    .work {
        padding: 40px 0;
    }
    .work .heading h3 {
        font-size: 24px;
    }
    .work .heading p {
        font-size: 12px;
    }
    .analysis .heading h3 {
        font-size: 22px;
    }
    .analysis .heading p {
        font-size: 12px;
    }
    .analysis .down-icon button {
        font-size: 35px;
    }
    .analysis {
        padding: 30px 0;
    }
    .analysis .wrapper {
        width: 450px;
        clip-path: polygon(0 7%, 45% 7%, 50% 0, 55% 7%, 100% 7%, 100% 100%, 0 100%);
        padding: 30px;
        padding-top: 80px;
    }
    .analysis .wrapper input {
        width: 80%;
    }
    footer {
        padding: 35px 0;
    }
    footer h3 {
        font-size: 18px;
    }
    footer .footer-icon ul li a {
        font-size: 15px;
    }
    footer .footer-icon ul li {
        padding: 6px 10px;
    }
    footer p{
        font-size: 13px;
    }
    footer form input {
        width: 70%;
    }
}
@media (max-width: 420px) {
    .main-header {
        padding: 120px 0;
    }
    .approch .img-card img {
        width: 140px;
    }
    .approch .box-1 {
        height: 96px;
        padding: 20px 20px;
    }
    .approch .box-1 h4 {
        font-size: 10px;
    }
    .approch .box-1 p {
        line-height: 1.2;
    }
    .analysis .wrapper {
        width: 90%;
        clip-path: polygon(0 7%, 40% 7%, 50% 0, 60% 7%, 100% 7%, 100% 100%, 0 100%);
    }
    footer form button {
        font-size: 10px;
    }
    .copy p {
        font-size: 10px;
    }
}
@media (max-width: 320px) {
    .approch .img-card img {
        width: 120px;
    }
    .approch .box-1 {
        height: 84px;
        padding: 10px 15px;
    }
    footer p{
        font-size: 10px;
    }
    footer form input {
        width: 80%;
        padding: 5px 10px;
    }
}